<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="vivo.aiservice.permission.AISERVICE_ACCESS" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
  <uses-permission android:name="mediatek.permission.ACCESS_APU_SYS" />

  <application>
    <uses-native-library android:name="libdmabufheap.so" android:required="false" />
    <uses-native-library android:name="libvcap_npu_network_v1.so" android:required="false" />
  </application>
</manifest>
